<%- include('partials/header.ejs') %>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <img class="success-img" src="success.jpg">
    <div>
    <h1>Sign up successful !</h1>
    <a href="/login"><button class="btn btn-primary w-100" type="submit">Login here</button></a>
    </div>
</div>

<%- include('partials/footer.ejs') %>
